<h1>Help</h1>
<p>
  Get Help on RoR Tutorial at the <a href="http://railstutorial.org/help">Rails Tutorial help page</a>.
  To get help on this sample app, see
  <a href="http://railstutorial.org/book">Rail Tutorial Book</a>
</p>
